@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;700&display=swap');

body {
    font-family: Work Sans, Arial, sans-serif;
    width: 100%;
    background: url(../assets/img/bg.jpg);
    overflow-x: hidden;
}

/*HEADER*/

header {
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 1%;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .logo {
    width: 105px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
}

header .container nav {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .menu {
    width: 40%;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

@media (max-width: 500px) {
    header .container .menu {
        height: 80%;
        flex-direction: column;
        padding: 0px 10px;
    }

    header .container .menu a {
        padding: 1px 1px;
    }
}

@media (max-width: 900px) {
    header .container .menu {
        width: 70%;
    }
}

header .container .menu a {
    border: 1px solid rgb(218, 255, 5);
    border-radius: 15px;
    padding: 5px 5px;
    background-color: rgb(218, 255, 5);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

header .container nav .menu li:hover {
    filter: brightness(90%);
    transform: translateY(5%);
    cursor: pointer;
}

/*INICIO DA MAIN E SECTION HERO*/

.s-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.s-hero .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title h1 {
    font-size: 3.4rem;
    margin: 4% 3% 0 3%;
    color: white;
    text-align: center;
}

.s-hero .container .title h1 span {
    color: rgb(218, 255, 5);
}

.s-hero .container .title h2 {
    font-size: 1.4rem;
    margin: 3% 3% 0 3%;
    color: rgba(255, 255, 255, 0.8);
}

.s-hero .container .title p {
    font-size: 1.2rem;
    color: rgb(218, 255, 5);
    margin: 3% 3% 2% 3%;
}

.s-hero .container .techs {
    padding: 0 2%;
}

.s-hero .container .techs img:hover {
    cursor: pointer;
    transform: translateY(-7%);
    transition: all 0.7s;
}

.s-hero .container .techs .img-phplar {
    margin-bottom: 4%;
}

/*SUCCESS*/

/*SUCCESS*/

.success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 5%;
    background-color: rgba(29, 28, 28, 0.8);
    padding: 25px 0;
}

.success .container {
    width: 100%;
    display: flex;
}

@media (max-width: 690px) {
    .success .container {
        flex-direction: column;
        
    }

    .container .success-ilus {
        margin-top: 2%;
        margin-left: 7%;
    }
}

.container .box-success h2 {
    font-size: 3rem;
    margin: 3% 7%;
}

.container .box-success span {
    color: rgb(218, 255, 5);
}

.container .box-success p {
    margin: 0 7%;
}

.container .success-ilus {
    margin-right: 2%;
}

.container .success-ilus img {
    border-radius: 10px;
}

/*ABOUT*/

.s-about {
    background-color: rgba(29, 28, 28, 0.8);
    height: 100%;
    padding: 25px 0;
    margin-bottom: 3%;
}
  
.s-about .container {
    display: flex;
    justify-content: space-between;
}

.s-about .container .about-me {
    width: 100%;
}
  
.s-about .container .about-me h2 {
    font-size: 3rem;
    color: white;
    margin-left: 7%;
}

.s-about .container .about-me span {
    color: rgb(218, 255, 5);
}

.s-about .container .about-me p {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 7%;
}

.s-about .container .about-me ul {
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    gap: 2%;
    list-style-type: none;
}

.s-about .container .about-me ul li a img {
    transition: all 0.2s;
}

.s-about .container .my-picture {
    margin: 25px 30px;
}

.personal-img {
    border-radius: 10px;
    opacity: 0.9;
}

/*CASES*/

.s-cases {
    padding: 25px 0;
    margin-bottom: 3%;
    margin-top: -3%;
}
  
.s-cases .container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.s-cases .container .title-cases {
    color: rgb(218, 255, 5);
    font-size: 2rem;
    margin-left: 3%;
}
  
.s-cases .container .cases {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
 
.s-cases .container .cases .case:nth-child(2) {
    margin-top: -1.2rem;
}
  
.s-cases .container .cases img {
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    width: 90%;
}
  
.s-cases .container .cases img:hover {
    transform: translateY(-5%);
}

/*CONTATO*/

.s-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-contact .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: 3%;
    margin-bottom: 5%;
    margin-top: 3%;
}

.container .title-contact {
    width: 50%;
    color: rgb(218, 255, 5);
    font-size: 2rem;
    margin: 1% 0;
}

.container .title-contact h2 {
    margin-left: 2%;
}

.form-contact {
    min-width: 60%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-contact .input-group {
    width: 60%;
    padding: 10px 10px;
    font-family: Work Sans, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.89);
}

.form-contact .input-group input {
    width: 70%;
    background-color: rgba(68, 67, 67, 0.8);
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    color: rgba(255, 255, 255, 0.89);
}

.form-contact .input-group input::placeholder {
    color: rgba(255, 255, 255, 0.89);
    font-weight: bold;

}

.form-contact .input-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.89);
}

.form-contact .input-group input:hover {
    border-color: rgb(218, 255, 5);
}

.form-contact .input-group textarea {
    width: 70%;
    background-color: rgba(68, 67, 67, 0.8);
    font-family: Work Sans, Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.89);
    font-weight: bold;
}

@media (max-width: 740px) {
    .s-contact .container {
        flex-direction: column;
    }

    .form-contact .input-group input {
        width: 100%;
    }

    .form-contact .input-group textarea {
        width: 100%;
    }
}

.form-contact .input-group textarea:hover {
    border-color: rgb(218, 255, 5);
}

.form-contact .input-button .btn-primary {
    color: black;
    font-weight: bold;
    background-color: rgb(218, 255, 5);
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 10px;
}

.form-contact .input-button .btn-primary:hover {
    cursor: pointer;
}

/*FOOTER*/

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 28, 28, 0.8);
}
  
footer .container .copy {
    padding: 2% 0;
}
  
footer .container .copy {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}