body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    overflow-x: hidden;
    background: url(../assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*HEADER*/

header {
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    padding: 4.5%;
}

header .logo {
    position: relative;
    right: 13%;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .container nav .menu li {
    margin-right: 4.8rem;
    background-color: rgb(218, 255, 5);
    border: 1px solid rgb(218, 255, 5);
    border-radius: 35px;
    padding: 10px;
    font-size: 12pt;
    font-weight: bolder;
    list-style-type: none;
}

header .container nav .menu a {
    text-decoration: none;
    color: black;
}

header .container nav .menu li:hover {
    filter: brightness(90%);
    transform: translateY(5%);
    cursor: pointer;
}

header .container nav .menu-social {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 4rem;
    gap: 3.4rem;
}

header .container nav .menu-social img {
    transition: all 0.2s;
}

header .container nav .menu-social img:hover {
    filter: brightness(90%);
    transform: translateY(-5%);
}

/*SECTION HERO*/

.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 50%;
    margin-top: 13%;
    padding: 1%;
}

.s-hero .container .title h1 {
    font-size: 48pt;
    font-weight: 700;
    text-align: center;
    color: white;
}

.s-hero .container .title h1 span {
    color: rgb(218, 255, 5);
}

.s-hero .container .title h2 {
    font-weight: 400;
    font-size: 17pt;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3%;
    margin-top: -1%;
}
  
.s-hero .container .title p {
    font-weight: 400;
    font-size: 16pt;
    line-height: 10pt;
    text-align: center;
    color: rgba(220, 246, 75, 0.8);
}

.s-hero .container .title .techs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    margin-top: 10px;
}

.btn-primary {
    color: rgb(218, 255, 5);
    border: 1px solid rgb(218, 255, 5);
    padding: 8px 50px;
    border-radius: 20px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 13pt;
}

/*SUCESSO TEM NOME*/

.s-success {
    padding: 4.4rem 0;
    margin-left: 5%;
}

.s-success .container {
    display: flex;
    align-items: center;
    gap: 4.4rem;
}

.s-success .container .cards {
    display: flex;
}

.container .title-success .tag {
    border: 1px solid black;
    border-radius: 25px;
    padding: 3px 25px;
    font-size: 13pt;
    background-color: white;
}

.title-success h2 span {
    color: rgb(218, 255, 5);
    font-size: 48pt;
    font-weight: bold;
}

.title-success h2 {
    color: white;
    font-size: 48pt;
    font-weight: bold;
}

.s-success .container .cards .card-active {
    background-color: rgb(218, 255, 5);
    width: 260px;
    height: 280px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.s-success .container .cards .card-active:hover {
    opacity: 0.8;
    cursor: pointer;
}

.s-success .container .card1 {
    background-color: white;
    width: 260px;
    height: 280px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.s-success .container .card2 {
    background-color: white;
    width: 260px;
    height: 280px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.card-title {
    font-size: 34pt;
    margin-left: 10px;
}

.card-info {
    font-size: 18pt;
    margin-left: 10px;
}

/*SOBRE*/

.s-about {
    background-color: rgba(29, 28, 28, 0.8);
    padding: 25px 0;
    margin-left: -8px;
    margin-right: -8px;
}
  
.s-about .container {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.s-about .container .about-me {
    width: 100%;
}
  
.s-about .container .about-me h2 {
    font-size: 45pt;
    color: white;
    margin-left: 7%;
}

.s-about .container .about-me span {
    color: rgb(218, 255, 5);
}

.s-about .container .about-me p {
    color: rgba(255, 255, 255, 0.83);
    margin-left: 7%;
}

.s-about .container .my-picture {
    margin: 25px 30px;
}

.personal-img {
    border-radius: 10px;
    opacity: 0.9;
}

/*CASES*/

.s-cases .container .title-cases {
    color: rgb(218, 255, 5);
    font-size: 32pt;
    margin-left: 5%;
}

.s-cases .container .cases {
    width: 1240px;
    height: 335px;
    margin-left: 3.5%;
    margin-right: 5%;
}

.s-cases .container .cases .img {
    width: 400px;
    border-radius: 10px;
}

.s-cases .container .cases .imgp {
    width: 425px;
    border-radius: 10px;
}

.s-cases .container .cases .img:hover {
    transform: translateY(-4%);
    transition: all 1s;
    cursor: pointer;
}

.s-cases .container .cases .imgp:hover {
    transform: translateY(-4%);
    transition: all 1s;
    cursor: pointer;
}

/*CONTATO*/

.container .title-contact {
    color: rgb(218, 255, 5);
    margin-left: 5%;
    margin-top: 7%;
    font-size: 32pt;
    width: 500px;
}

.form-contact {
    margin-top: -18%;
}

.form-contact .input-group {
    padding: 10px;
    margin-left: 56%;
}

.form-contact .input-group input {
    width: 500px;
    height: 50px;
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 7px;
}

.form-contact .input-group input::placeholder {
    color: white;
}

.form-contact .input-group input:hover {
    border-color: rgb(218, 255, 5);
}

.form-contact .input-group textarea {
    width: 500px;
    height: 180px;
    border: 1px solid #424242;
    border-radius: 7px;
    background-color: #424242;
}

.form-contact .input-group textarea::placeholder {
    color: white;
}

.form-contact .input-group textarea:hover {
    border-color: rgb(218, 255, 5);
}

.form-contact .input-button {
    margin-left: 82%;
    margin-top: -15px;
}

.form-contact .input-button .btn-primary {
    color: black;
    background-color: rgb(218, 255, 5);
    font-weight: bold;
}

.form-contact .input-button .btn-primary:hover {
    cursor: pointer;
}

/*FOOTER*/

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 4%;
    margin-bottom: -1%;
    background-color: rgba(29, 28, 28, 0.8);
}

.copy p {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    color: white;
}